* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
#cont{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.box{
  border: 1px solid black;
  width: 200%;
}
#all_products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  /* border: 10px solid rgb(255, 0, 106);  */
}
  
  .card {
   
    width: 300px;
    height: 400px;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }
  
  .card:hover .card-details,
  .card:hover .card-details-social a {
    transform: none;
  }
  
  .card:hover img {
    filter: blur(3px);
    transform: scale(1.2);
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  
  .card .card-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 10px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: translateY(100%);
    transition: all 0.3s;
  }
  
  .card .card-details .card-details-title {
    font-size: 18px;
    text-align: center;
  }
  
  .card .card-details .card-details-social {
    display: flex;
  }
  

  .btn{
	background:linear-gradient(135deg, #eaea66 0%, #6fc1dd 100%);
	border-radius:20px;
	height:40px;
	width:140px;
	margin:auto;
}
.btn:hover{
	background:none;
	color:linear-gradient(135deg, #eaea66 0%, #6fc1dd 100%);
	border:2px solid linear-gradient(135deg, #eaea66 0%, #6fc1dd 100%);
	border-style:double;
	transition:1s;
}
.btn p{
	text-decoration:none;
	color:blue;
	line-height:40px;
	color:black;
	display:block;
}
.btn p:hover{
	color:linear-gradient(135deg, #eaea66 0%, #6fc1dd 100%);
	transition:1s;
    cursor: pointer;
	top:0;
}
.social img{
	height:20px;
	width:20px;
	margin:5px;
	display:inline-block;
}
